/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/vendor
.env
.env.local
.env.production
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
public/.DS_Store
public/images/.DS_Store